.Title:hover{

  color:#fff;

  background-color: #0085A1;

  border: 1px;

}

.Title{

  height: 78px;

  width: 300px;

  margin-left: 50px;

  background-color: #fff;


}

.espacamento{

  margin-top: 8px;

}

